{% extends 'layout.html.twig' %}
{% block title %}item{% endblock %}
{% block content %}
   <main>
    <h1>Item : {{  item.title }}</h1>
<ul>
    <li>Id : {{  item.id }}</li>
</ul>
<a href='../../public/index.php?route=items'>Back to list</a>
</main>
{% endblock %}

